<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello world

    <ul>
        {% for pessoa in pessoas %}
            <li> {{ pessoa.id }} - {{ pessoa.nome }}</li> <a href="{% url 'editar' pessoa.id %}">Editar</a>
        {% endfor%}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" id="">
        <button type="submit">SALVAR</button>
    </form>

</body>

</html>